In [1]:
import sqlite3

In [3]:
# Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
# Create a Table
cursor.execute('''
Create Table if not exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)               
               
''')

# Commit the changes
connection.commit()

In [6]:
# Insert Data in SQLITE3 Table
cursor.execute("""
Insert into employees(name, age, department)
    values('Krish', 32, 'Data Scientist')
               
""")

cursor.execute("""
Insert into employees(name, age, department)
    values('Fukurou', 21, 'Rebel Against Peace')
               
""")

cursor.execute("""
Insert into employees(name, age, department)
    values('Bob', 25, 'Engineer')
               
""")

connection.commit()

In [16]:
# Querying data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Fukurou', 21, 'Rebel Against Peace')

In [14]:
# Update the data in the table
cursor.execute('''
UPDATE employees
Set age = 34
where name = "Krish"
               ''')

connection.commit()

In [15]:
# Delete the data from the table
cursor.execute('''
delete from employees
    where name = 'Bob'
               ''')

connection.commit()

In [19]:
connection.close()